body {
  background-image: url("../images/img.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  overflow-y:hidden;
  text-align: center;
}

h1 {
  color:white;
}

p {
  margin-bottom: 20px;
  font-size: 25px;
}

#boton {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  background-color: #29b6f6;
}

#ocultar, #mostrar, #ocultar1, #mostrar1 {
  background-color: #29b6f6;
}

#foot {
  background-color:#64b5f6;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:#64b5f6;
  height: 60px;
  color:white;
}

#eleccion {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 55px;
  opacity: 0.5;
  filter:  alpha(opacity=50);
}

.nav-wrapper {
  background-color:#40c4ff;
}
